name: Flutter Workflow

on: [push]
jobs:
  releases:
    name: release apk
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.7.0'
      - run: flutter pub get
      - run: flutter build apk --release
      - uses: ncipollo/release-action@v1.12.0
        with:
         artifacts: "build/app/outputs/apk/release/app-release.apk"
         token: ${{ secrets.TOKEN }}
